#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding-left: 2.4%;
  padding-right: 2.4%;
  /* text-align: center; */
/* box-sizing: border-box; */
}

:any-link{
  color: blueviolet;
}



